body {
    font-family: verdana;
    font-weight: 500;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

nav{
  display: block;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

button {
    text-transform: none;
}

button {
    overflow: visible;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    flex-grow: 1;
    align-items: center;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
}

a:not([href]):not([tabindex]) {
    text-decoration: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

















@media (min-width: 992px)
.navbar-expand-lg .navbar-toggler {
    display: none;
}

@media (min-width: 992px)
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}
